@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff");
  fobt-weight: 700;
  font-syle: normal;
  font-display: swap;
}

html,
body {
  min-height: 100%;
  font-family: Montserrat, sans-serif;
  line-height: 150%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #fff;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1130px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
}

/*HEADER********************************************HEADER/ */
.header {
  width: 100%;
  height: 900px;
  background: url("../image/bgc.jpg") center center/cover no-repeat;
}

.header__container {
  position: relative;
  height: 100%;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px 0 18px;
  font-size: 13px;
  line-height: 150%;
}

.header__service {
  position: absolute;
  bottom: 150px;
  left: 50%;
  width: 100%;
  text-align: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__link--left {
  margin-right: 30px;
}

.address {
  font-style: normal;
}

.base-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.semibold-text {
  font-weight: 600;
}

.nav {
  position: relative;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.nav__item {
  width: 25%;
  padding: 13px 0;
  text-align: center;
}

.nav__item_burger {
  padding: 13px 0;
  text-align: center;
  border-bottom: 1px solid #FFFFFF;
}

.nav__item_burger:first-child {
  border-top: 1px solid #FFFFFF;
}

.nav__item:not(:last-child) {
  border-right: 1px solid #FFFFFF;
  padding-right: 10px;
}

.nav__item:nth-child(2) {
  padding-right: 18px;
}

.nav_burger {
  display: none;
  position: absolute;
  top: 40px;
  left: 50%;
  margin-top: 20px;
  width: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav__list_burger {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.burger__btn {
  position: absolute;
  display: none;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  transform: translateX(-50%);
  background: transparent;
}

.burger__btn:active {
  -webkit-transform: scaleX(1.5);
          transform: scaleX(1.5);
  left: 42%;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.burger__image {
  display: block;
  position: relative;
  width: 35px;
  margin: auto;
  border: 2px solid #fff;
}

.burger__image:before, .burger__image:after {
  content: '';
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  left: -2px;
  background: #fff;
}

.burger__image:before {
  top: -15px;
}

.burger__image:after {
  top: 10px;
}

.visin {
  display: block;
}

.service__link {
  display: inline-block;
  padding: 15px 30px;
  background: #998431;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

/****************MAIN*****************************************************/
/*****************SECTION-TOP***************/
.medium-text {
  font-size: 16px;
}

.section-top {
  padding: 100px 0;
  background: #282828;
}

.section-top__text {
  margin: 0px auto 48px;
  max-width: 733px;
}

.section-title {
  font-family: Playfair Display, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.main__intro {
  padding: 72px 0 50px;
  text-align: center;
  border: 3px solid #C4C4C4;
}

.line {
  display: inline-block;
  width: 160px;
  height: 1px;
}

.line_white {
  background: #fff;
  margin-top: 53px;
  margin-bottom: 35px;
}

.section-top__imagebox {
  display: inline-block;
  background: #282828;
}

.wrapper__image {
  position: relative;
}

.wrapper__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/*****************SECTION-BOTTOM***************/
.section-bottom {
  padding: 80px 0;
  background: #E6E3C4;
  color: #282828;
}

.section-bottom__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
}

.section-bottom__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section-bottom__content_left {
  padding-right: 100px;
}

.section-bottom__content_right {
  padding-left: 15px;
}

.section-bottom__title {
  max-width: 298px;
  padding-top: 30px;
  line-height: 150%;
}

.section-bottom__line {
  background: #282828;
  margin-top: 30px;
}

.section-bottom__text {
  margin: 23px  0 31px;
}

.section-bottom__imagebox {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  -ms-grid-columns: (minmax(255px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
  grid-gap: 30px;
}

.wrapper__image {
  position: relative;
}

.wrapper__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper__image:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  min-width: 540px;
  min-height: 500px;
}

.wrapper__image:nth-child(n+2) {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  min-width: 255px;
  max-height: 228px;
}

.product {
  margin-bottom: 10px;
  padding-left: 31px;
  font-family: Playfair Display, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.box__grid {
  display: -ms-grid;
  display: grid;
  grid: repeat(3, 78px)/16% 84%;
  max-width: 445px;
}

.grid-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #E6E3C4;
  margin-bottom: 7px;
  font-family: Playfair Display, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.grid-element:nth-child(2n+1) {
  padding-left: 16px;
  border-bottom: 1px solid #282828;
}

.grid-element:nth-child(2n+2) {
  padding-left: 28px;
  margin-left: 6px;
  border-bottom: 1px solid #282828;
  border-left: 1px solid #282828;
}

.grid-element:nth-child(n+5) {
  border-bottom: none;
}

.grid-element__text {
  margin-bottom: 6px;
  margin-top: 6px;
}

/********section-form********************************/
.section-form {
  background: #282828;
  padding: 166px 0 100px;
}

.section-form__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  border: 3px solid #C4C4C4;
}

.section-form__title {
  display: block;
  position: absolute;
  left: 50%;
  top: -52px;
  padding: 22px 50px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  text-align: center;
  background: #282828;
}

.section-form__title:before {
  content: '';
  position: absolute;
  right: 116%;
  top: -20px;
  width: 260px;
  height: 260px;
  background: url("../image/grape2.svg");
}

.section-form__title:after {
  content: '';
  position: absolute;
  left: 121%;
  top: -16px;
  width: 260px;
  height: 200px;
  background: url("../image/barell.svg");
}

.section-form__inner {
  margin: 0 auto;
  max-width: 540px;
}

.section-form__line {
  width: 118px;
  margin-top: 64px;
  background: #fff;
}

.section-form__text {
  margin: 35px 0 75px;
}

.form__input {
  padding: 0 5px 10px 0;
  background: transparent;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  color: #fff;
  border: none;
  border-bottom: 1px solid #FFFFFF;
}

.form__input_name {
  margin-right: 25px;
  width: 255px;
}

.form__input_tel {
  width: 255px;
}

.form__input_address {
  display: block;
  margin: 40px auto 47px;
  width: 100%;
}

.form__input::-webkit-input-placeholder {
  color: #fff;
}

.form__input:-ms-input-placeholder {
  color: #fff;
}

.form__input::-ms-input-placeholder {
  color: #fff;
}

.form__input::placeholder {
  color: #fff;
}

.form__button {
  margin-bottom: 75px;
  width: 100%;
  color: #fff;
  font-family: Montserrat;
}

/*************************FOOTER*****************************/
.footer {
  padding: 50px  0;
  background: #998431;
}

.footer-info {
  padding: 19px 64px;
  border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

.footer-info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #FFFFFF;
  text-transform: uppercase;
}

.footer__item {
  padding-top: 19px;
  padding-bottom: 14px;
  text-align: center;
}

.footer__item-name {
  padding-left: 40px;
  width: 350px;
}

.footer__item-tel {
  width: 235px;
}

.footer__item-social {
  width: 260px;
}

.footer__item-site {
  width: 265px;
  padding-right: 36px;
}

.footer__item:not(:last-child) {
  border-right: 1px solid #FFFFFF;
}

.social__link--vk {
  margin: 0  43px 0 32px;
}

.social__link--fb {
  position: relative;
  right: 6px;
}

@media (max-width: 1200px) {
  .section-bottom__content_right {
    padding-left: 0;
    margin-top: 20px;
  }
  .section-bottom__content_left {
    padding-right: 0px;
  }
  .section-bottom__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-bottom__imagebox {
    -ms-grid-rows: (255px)[2];
        grid-template-rows: repeat(2, 255px);
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .section-bottom__wrapper {
    text-align: center;
  }
  .section-bottom__title,
  .box__grid {
    margin: 0 auto;
  }
  .wrapper__image:first-child {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    min-width: 300px;
  }
  .wrapper__image:nth-child(2) {
    max-height: none;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .wrapper__image:nth-child(3) {
    max-height: none;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .section-form__title:before {
    right: 92%;
    top: -105px;
  }
  .section-form__title:after {
    left: 90%;
    top: -75px;
  }
}

@media (max-width: 980px) {
  .section-bottom__imagebox {
    grid-gap: 15px;
  }
  .section-form__title:before,
  .section-form__title:after {
    display: none;
  }
  .section-form__title {
    padding: 25px 25px;
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .section-top {
    padding: 20px 0;
  }
  .section-bottom {
    padding: 30px 0;
  }
  .section-bottom__imagebox {
    -ms-grid-rows: (255px)[4];
        grid-template-rows: repeat(4, 255px);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .section-bottom__wrapper {
    padding-top: 0;
  }
  .wrapper__image:nth-child(2) {
    max-height: none;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .wrapper__image:nth-child(3) {
    max-height: none;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .section-form {
    padding-top: 55px;
  }
  .footer-info {
    padding: 19px 10px;
  }
  .footer-info__item {
    padding: 0 5px;
  }
  .footer__item-name {
    padding-left: 10px;
  }
  .footer__item-site {
    padding-right: 10px;
  }
  .social__link--vk {
    margin: 0px 20px 0 15px;
  }
}

@media (max-width: 600px) {
  .header__service {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
  }
  .header__link--left {
    margin: 0  0 10px  0;
  }
  .box__grid {
    max-width: none;
  }
  .grid-element__product {
    font-size: 16px;
  }
  .grid-element:nth-child(2n+1),
  .grid-element:nth-child(2n+2) {
    padding-left: 5px;
  }
  .footer__contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-info__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__item:not(:last-child) {
    border: none;
    border-bottom: 1px solid #FFFFFF;
  }
  .footer__item-name,
  .footer__item-tel,
  .footer__item-social,
  .footer__item-site {
    width: 100%;
  }
  .form__input {
    width: 100%;
  }
  .form__input_name {
    margin-right: 30px;
  }
}

@media (max-width: 400px) {
  .header__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .nav__list {
    display: none;
  }
  .burger__btn {
    display: block;
  }
  .box__grid {
    grid: repeat(3, 120px)/16% 84%;
  }
}
/*# sourceMappingURL=style.css.map */